mss # for screenshots
pyautogui # for region selection in screenshots
pytesseract # for OCR text extraction
pyperclip # pyperclip to copy text to clipboard
keyboard # Listen for global hotkeys
pynput # Listen for global hotkeys
pyqt6 # for GUI
numpy
opencv-python